
      * {
        font-family: arial, sans-ser;
        margin: 1%;
      }
      #campoField {
        background: rgb(131, 58, 180);
        background: linear-gradient(
          90deg,
          rgba(131, 58, 180, 1) 0%,
          rgba(253, 29, 29, 1) 50%,
          rgba(252, 176, 69, 1) 100%
        );
        width: 25%;
      }
      legend {
        font-size: 30px;
      }
      input{
        border: 1px solid;
        border-radius:50px;
        height: 30px;
      }
      #idUsuario,
      #idPassword {
        width: 94%;
      }
      input[type="submit"] {
        border: 1px solid;
        border-radius: 50px;
        padding: 5px;
        background-color: rgb(111, 133, 133);
        color: white;
      }
    